body {
	background-color: white;
}

table.hollow,
table.hollow tr,
table.hollow tr td {
	background: transparent;
	border: none;
}

tr.ok td {
	background: #90FF90;
}
tr.warning {
	background: #FFD070;
}
tr.error td {
	background: #FF9090;
}
tr.busy td {
	background: #C0E0FF;
}
tr.cancelled td {
	background: #A0A0A0;
}
tr.attention td, tr.inspect td {
	background: #FFFF00;
}
