body {
	background: #FFDD82;
	color: black;
	border-bottom: 1px solid #800000;
	margin: 3px 0px;
	padding: 0px 0px;
	height: 25px;
}
p {
	margin: 6px 7px;
	padding: 0px 0px;
}
a {
	background: #FFFFF0;
	margin: 2px 3px;
	padding: 2px 5px;
	text-decoration: none;
}
a:hover {
	background: #D0DCFF;
}
a:link, a:visited {
	color: #800000;
}
a:active {
	color: #FF4040;
}

